<div class="panel">
	<h1>Frequently asked questions</h1>
	<p>Q: What is Dogecoin?</p>
	<p>A: Dogecoin is a fun, new and rapidly growing form of digital currency. This form of digital currency is called "cryptocurrency"; a type of digital currency. Cryptocurrency is completely anonymous, decentralized, and extremely secure. Think of it as “Internet Currency” for the modern age</p>
	<p>Q: Why Use Dogecoin? (Over a centralized currency i.e. USD or EUR)</p>
	<p>A: As a decentralized cryptocurrency, Dogecoin isn’t linked to any currency, it is in a tier of its own. Many people are moving to cryptocurrency as a safe way to spend money and become a part of the future</p>
	<p>Q: Is my money secure?</p>
	<p>A: Yes! We have a multi-tiered security architecture, make liberal use of cold wallets, and encrypt all relevant data.</p>
	<p>Q: What is Shibe Sales?</p>
	<p>A: Shibe Sales is a Dogecoin friendly way to buy games at discount that you can’t get anywhere else!</p>
	<p>Q: How was this site made?</p>
	<p>A: With an awesome tutorial from <%= link_to "One Month Rails", "https://onemonthrails.com/"%></a>!</p>
</div>
