<div class="panel">
	<h1>Want us to stock up on a game when it goes on sale? Recommend it here!</h1>
	<h4>We'll also send you a notification if you provide your email.</h4>
	<input type="text" placeholder="Game title">
	<input type="text" placeholder="Email (option)">
	<button class="success">Recommend</button>
</div>