// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style_image {
	width: 100%;
}
.inline {
	display: inline;
	text-align: right;
}
td a {
	color: black;
}