// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-bg: #1D1C1A;
$body-font-color: rgb(176, 174, 172);
$anchor-font-color-hover: rgb(0, 120, 160);
$primary-color: white;
$panel-bg: #3C3D3E;
$panel-border-style: solid;
$panel-border-size: 1px;

.panel {
  background-color: #3C3D3E;
  /*border-bottom-style: solid;
  border-width: 0px 0px 1px 0px;
  -moz-border-image: url(BorderGradient.png) 1 0 stretch repeat;
  -webkit-border-image: url(BorderGradient.png) 1 0 stretch repeat;
  -o-border-image: url(BorderGradient.png) 1 0 stretch repeat;
  border-image: url(BorderGradient.png) 1 0 fill stretch repeat;
  border-top-color: rgb(53, 54, 55);*/
}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li {
  color: inherit;
}
.row {
  max-width: 80rem;
}
.horizontal-line {
  height:1px;
  background:-moz-linear-gradient(left, rgba(139, 123, 77, 0),#8b7b4d); 
  background:-webkit-linear-gradient(left, rgba(139, 123, 77, 0),#8b7b4d); 
  background:linear-gradient(left, rgba(139, 123, 77, 0),#8b7b4d);
  width:100%;
  display:block;
}
a {
  color: white;
}
.sale {
  background: #4C6B22;
  margin: .5em;
  padding: .25em;
}
.strikeout{
  text-decoration: line-through;
  opacity: .5;
}
@import 'foundation';