// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-bg: #1D1C1A;
$body-font-color: rgb(176, 174, 172);
$anchor-font-color-hover: rgb(0, 120, 160);
$primary-color: white;
$panel-bg: #3C3D3E;
$legend-bg: #3C3D3E;
$legend-padding: rem-calc(0 3);

$fieldset-border-color: #8b7b4d;
$header-font-color: rgb(176, 174, 172);
$form-label-font-color: scale-color(#000, $lightness: 70%);

h1, h2, h3, h4, h5, h6 {
  color: #3C3D3E;
}
.row {
  max-width: 80rem;
}
.horizontal-line {
  height:1px;
  background:-moz-linear-gradient(left, rgba(139, 123, 77, 0),#8b7b4d); 
  background:-webkit-linear-gradient(left, rgba(139, 123, 77, 0),#8b7b4d); 
  background:linear-gradient(left, rgba(139, 123, 77, 0),#8b7b4d);
  width:100%;
  display:block;
}
a {
  color: white;
}
.sale {
  background: #4C6B22;
  padding: .25em;
  font-size: 24px;
}
.price {
  background-color: black;
  padding: .5em;
  font-size: 18px;
}
.strikeout{
  text-decoration: line-through;
  opacity: .5;
}
.quiet-text{
  opacity: 0.65;
}
@import 'foundation';